# 项目排除路径

/.idea/

# /dist/

# /log/

# /simulation_servers/deno/log/
/simulation_servers/deno/node_modules/

/node_modules/
/node_modules.7z
/node_modules.zip
/node_modules.rar

# /test/
/ts_compiled/
