# 项目排除路径

/.idea/

/dist/
/log/

/node_modules/
/node_modules.7z
/node_modules.zip
/node_modules.rar

/simulation_servers/deno/cache/
/simulation_servers/deno/log/
/simulation_servers/deno/test/
/simulation_servers/deno/upload/
/simulation_servers/deno/web/
/simulation_servers/deno/node_modules/

/test/
/ts_compiled/
/webpack_records/



/subsystems/**/.idea/

/subsystems/**/dist/
!/subsystems/**/backups/**/dist/
/subsystems/**/log/

/subsystems/**/node_modules/
/subsystems/**/node_modules.7z
/subsystems/**/node_modules.zip
/subsystems/**/node_modules.rar

/subsystems/**/simulation_servers/deno/cache/
/subsystems/**/simulation_servers/deno/log/
/subsystems/**/simulation_servers/deno/test/
/subsystems/**/simulation_servers/deno/upload/
/subsystems/**/simulation_servers/deno/web/
/subsystems/**/simulation_servers/deno/node_modules/

/subsystems/**/test/
!/subsystems/**/src/**/test/
/subsystems/**/ts_compiled/
/subsystems/**/webpack_records/
