/*
Project: web-project-template
FileDirPath: src/pages/hello_world/11.css
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-28 02:10:55 星期四
*/

body {
  width: 100%;
  height: 100%;

  background-color: aqua;
}

h1 {
  width: auto;
  height: auto;
  color: black;
  font-size: 20px;
}

/*远程第三方图片，带明确的文件后缀名的。*/
.img001 {
  color: black;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background: rebeccapurple url('https://fanyi-cdn.cdn.bcebos.com/webStatic/translation/asset/weibo-icon.9458e430.png') center center no-repeat;
  background-size: 100% 100%;
}

/*远程第三方图片，不带明确的文件后缀名的。*/
.img002 {
  color: black;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background: red url('https://img2.baidu.com/it/u=3406691384,1105966890&fm=253&fmt=auto?w=130&h=170') center center no-repeat;
  background-size: 100% 100%;
}

/*来自项目的静态图片。*/
.img003 {
  color: black;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background: blue url('../static/ico/favicon.ico') center center no-repeat;
  background-size: 100% 100%;
}

/*来自项目的经过webpack处理的不大于10KB的图片。*/
.img004 {
  color: black;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background: gold url('~imgDir/ico_48_48.png') center center no-repeat;
  background-size: 100% 100%;
}

/*来自项目的经过webpack处理的大于10KB的图片。*/
.img005 {
  color: black;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background: green url('~imgDir/apple-touch-icon.png') center center no-repeat;
  background-size: 100% 100%;
}
