<!--
Project: web-project-template
FileDirPath: src/template/ejs/HelloWorld.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-23 12:03:44 星期六
-->
<!DOCTYPE html>
<html lang = 'zh-CN'>
<head>
    <title>HelloWorld</title>
</head>
<body>
<h1>HelloWorld</h1>
<div class = 'img001'>远程第三方图片，带明确的文件后缀名的。</div>
<div class = 'img002'>远程第三方图片，不带明确的文件后缀名的。</div>
<div class = 'img003'>来自项目的静态图片。</div>
<div class = 'img004'>来自项目的经过webpack处理的不大于10KB的图片。</div>
<div class = 'img005'>来自项目的经过webpack处理的大于10KB的图片。</div>
</body>
</html>
