<!--
Project: web-project-template
FileDirPath: src/template/ejs/HelloWorld.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-30 14:08:53 星期六
-->
<!DOCTYPE html>
<html lang = 'zh-CN'>
<head>
    <meta charset = 'UTF-8' />
    <title>HelloWorld</title>
</head>
<body>
<h1>HelloWorld</h1>
</body>
</html>
