<!--
Project: web-project-template
FileDirPath: src/template/ejs/HelloWorld.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-30 14:08:53 星期六
-->
<!DOCTYPE html>
<html lang = 'zh-CN'>
<head>
    <title>HelloWorld</title>
</head>
<body>
<h1>HelloWorld</h1>
<div class = 'img1'>远程无后缀名的图片链接</div>
<div class = 'img2'>远程有后缀名的图片链接</div>
<div class = 'img3'>测试sharpMinify实现的压缩优化</div>
</body>
</html>
