<!--
Project: web-project-template
FileDirPath: src/template/ejs/Home.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-30 14:08:12 星期六
-->
<!DOCTYPE html>
<html lang = 'zh-CN'>
<head>
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
</body>
</html>
